.top{
    position: relative;
width: 1920px;
height:1667px;
top:-541px;
left:-290px;
background: #D4F3E7;
}

.reen{
    position: absolute;
    width: 273px;
    height: 64px;
    left: 120px;
    top: 64px;
}
.about{
    position: absolute;
    width: 69px;
    height: 31px;
    left: 513px;
    top: 81px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    
    color: #252525;
    
}
.contact{
  position: static
  ;
    width: 125px;
    height: 31px;
    left: 646px;
    top: 81px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    
    color: #252525;
    

}
 .learn{
    position: absolute;
width: 140px;
height: 44px;
left: 700px;
top: 38px;
text: green;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;

 }


.reen1{
    position: absolute;
    width:159px;
    height: 22px;
    left: 125px;
    top: 335px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 42px;
    color:  #33B786;
    
}

.exp{
    position: absolute;
width: 673px;
height: 193px;
left: 120px;
top: 395px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 104px;
display: flex;
align-items: center;

color: #252525;

}

.exp1{
    position: absolute;
    width: 720px;
    height: 108px;
    left: 124px;
    top: 610px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */
    
    
    color: #555555;
    

}
.get{
    position: absolute;
width: 234px;
height: 72px;
left: 120px;
top: 782px;
background: #33B786;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
}
.login{
    position: absolute;
width: 234px;
height: 72px;
left: 394px;
top: 782px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
}
.credit{
    position: absolute;
width: 991px;
height: 952px;
left: 755px;
top: 128px;


}

.header{
    position: absolute;
width: 69px;
height: 31px;
left: 513px;
top: 81px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
text-decoration: none;
color: #252525;

}

.header2{
    position: absolute;
width: 125px;
height: 31px;
left: 646px;
top: 81px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
text-decoration: none;
color: #252525;

}